{% extends 'subject.html' %} {%block output%} {%load static%}

<section>
  <h4 class="mt-3 mb-3">Here are your subject lines..</h4>
  {% if sub%}
  <ol>
    {%for item in sub%}
    {% comment %} {%for item in sub%} {% endcomment %}
     <div> 
        <div class="text-center" id="titl">
          <span class="subject"> {{ item.title | safe }} </span>
          <span
            class="copy"
            id="{{item.id}}"
            onclick="copy(`{{ item.title | safe }}`, '{{item.id}}')"
            >Copy</span
          >
        </div>
     <div>    
    {%endfor%}
  </ol>


    {%endif%}




</section>

{%endblock%}



  {% comment %} <div class="text-center mt-5 mb-5">
    <button class="btn btn-primary btn-lg" onclick=loadMore()>Generate More</button>
  <div> {% endcomment %}
