<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Title Generator</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <script
      src="https://kit.fontawesome.com/af8513a429.js"
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/main.js"></script>
  </head>
  <body>
    <div class="logIn">
     <span><a href="{% url 'reg' %}"><i class="fa-solid fa-user"/></i>log in</a></span> 
    </div>
    <div class="body mt-5">
      <h1 class="text-center mb-5">Title Generator</h1>
      <p class="text-center">
        Create awesome headlines with our title generator including blog topics,
        blog headlines, or anything else. <br />
        With this title maker, you can view several fantastic titles for your
        next headline <br />
        and be well on your way to a great article.
      </p>

      <div class="container">
        <div class="col-md-10 offset-1">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label class="form-label">Choose Category</label>
                  <div class="">
                    <select class="form-select" name="category" id="category">
                      <option>
                        {% if request.POST.category %} {{request.POST.category}}
                        {% else %} Select Category {%endif %}
                      </option>
                      <option value="Benefit">Benefit</option>
                      <option value="Topic">Topic</option>
                      <option value="Pain-Point">Pain-Point</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label">Enter KeyWord</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Lead-generation"
                    name="word"
                    id="word"
                    value="{{ request.POST.word }}"
                  />
                </div>
              </div>
            </div>
            <div class="G_btn">
              <input
                class="btn btn-primary btn-lg"
                type="submit"
                value="Generate"
                onload="color()"
              />
            </div>
          </form>

          <div class="row" id="output">
            <div class="col-md-12 mb-5">{%block output%} {%endblock %}</div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/main.js'%}"></script>
    <script src="../static/js/jquery.js'%}"></script>
    <script src="../static/js/popper.js'%}"></script>
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>

{% comment %} {% if sort == 'name' %}selected{% endif %}
{{request.GET.category}} {% endcomment %}
