*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to bottom, rgb(48, 59, 214) 0%, #74cfbf 50%,#f7f7f7 55%,white 50%,rgb(255, 255, 255) 100%); /* W3C */

}
.logIn{
    /* float: right;  */
    display: flex;
    justify-content:flex-end;
    padding: 10px;
}
.logIn i{
    font-size: 30px;
    color:white
}
.logIn a{
    text-decoration: none;
    color:white;
}
label{
    font-weight: bolder;
}
.G_btn{
   float: right;
   margin-top: 5px;
}
.btn-primary{
    background-color:  #41b8a2;
    border: none;
    color:white;
    font-weight: bold;
}
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
#titl{
    background-color:  rgb(35, 82, 235);
    color: white;
    font-weight: bold;
    line-height: 40px;
    margin: 10px;
    border:1px solid rgb(95, 94, 94);
}
#output{
    margin-top: 90px;
}
inp{
    font-weight: bolder;
    color:black;
}
.copy{
    float: right;
    padding:0 5px;
    background-color:white;
    color:#1b6a85 ;
    cursor: pointer;
    /* margin-top: 5px; */
}