*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to bottom, rgb(126, 31, 214) 0%,rgb(206, 176, 235) 50%,#f7f7f7 55%,white 50%,rgb(255, 255, 255) 100%); /* W3C */

}
label{
    font-weight: bolder;
}
.G_btn{
   float: right;
   margin-top: 5px;
}
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
#titl{
    background-color:rgb(126, 31, 214);
    color: white;
    font-weight: bold;
    line-height: 40px;
    margin: 10px;
    border:1px solid rgb(95, 94, 94);
}
#output{
    margin-top: 90px;
}